html, body, .cover {
    height: 100%;
    width: 100%;
    background: black;
}
.headerPic { 
    height: 50px;
    width: 50px;
    float: left;
}
.cover {
    height: 670px;
}
.coverHeader {
    color: white;
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
}
/*side bar */
.sideBar {
    background: transparent;
    margin-top: 60px;
    border-radius: 20px;
    text-align: center;
}
.sideBar p {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #bef243;
    
}
.covid {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    color: white;
    border-right: 1px solid #bef243;
    padding: 2px;
    padding-right: 6px;
}
.bd {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 4px 4px 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.subHeaderText {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #bef243;

}
#map_192f555618c74b48ba8701d94405ce7b {
    height: 640px;
    width: 1360px;
    border-radius: 0px 0px 50px 50px ;
}
.source {
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: white;
    font-size: 12px;
}
.infectedInfo {
    height: 500px;
    text-align: center;
    width: 250px;
    color: white;
    overflow: auto;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.infectedInfo em {
    font-size: 60px;
    padding: 25px;
    color: #bef243;
}
.infectedInfo span {
    font-size: 12px;
    font-family: italic;
}
/*layers*/
.justThings {
    height: 50px;
    width: 1380px;
    background-color: black;
    position: relative;
    left: 0px;
    bottom: 50px; 
}
.layer-2 img{
    position: relative;
    bottom: 350px;
    left: 350px;
}
/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bef243; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 50%;
  }
/*Numbers*/
.numbers{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 200px;
    width: 1380px;
    background-color: black;
    opacity: 80%;
    position: relative;
    left: 0px;
    bottom: 120px; 

}
.numbers h1 {
    color: #bef243;
    font-size: 60px;
    padding: 5px 25px;
    font-style: italic;
}
.numbers p {
    color: white;
    font-size: 20px;
    font-style: italic;
}
.card-1 h1{
    position: relative;
    animation-name: card1;
    animation-duration: 1s ;
    animation-timing-function: ease-in;
}
.leaflet-container {
    z-index: 0;
	overflow: hidden;
	}
.card-2 h1 {
    position: relative;
    animation-name: card1;
    animation-duration: 1s ;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}
/*Graphs*/ 
 .graphs .lineGraph , .pieChart {
   height: 500px;
}
/*Contact*/
.contact {
    background: white;
    background-size: cover;
    text-align: center;
    margin: 10px 0px 0px 15px;
}
.contact .headerUnderlineContact {
    margin: 0px auto 50px;
    background-color: teal;
    height: 2px;
    width: 180px;
    border-radius: 30px;
    position: relative;
    animation-name: headerUnderline;
    animation-duration: 2s;
    animation-timing-function: ease;

}
.contact form {
    margin: 0 auto;
    padding: 25px;
    width: 350px;
}
.contact form p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
}
.contact form input{
    background: black;
}
.contact form textarea {
    background-color: black;
}

form button {
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    padding: 2px;
    margin: 16px;
    width: 150px;
    height: 40px;
    color: black;
    font-size: large;
}
form button:hover {
    background-color: black;
    color: teal;
}

/*footer*/
.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010200;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.footerContent {
    text-align: center;
    font-size: 14px;
    color: #bef243;
    padding: 10px;
}
.footerSubHeader {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-left: 2px solid #bef243 ;
    margin-bottom: 10px;
    text-align: center;
}
.footer em {
    color: #bef243;
}
footer h2:hover {
    color: #bef243;
    font-size: 22px;
}
