html, body, .cover {
    height: 100%;
    width: 100%;
    background: black;
}
.headerPic { 
    height: 50px;
    width: 50px;
    float: left;
}
.cover {
    height: 670px;
}
.coverHeader {
    color: white;
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
}
/*side bar */
.sideBar {
    background: transparent;
    margin-top: 60px;
    border-radius: 20px;
    text-align: center;
}
.sideBar p {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #bef243;
    
}
.covid {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    color: white;
    border-right: 1px solid #bef243;
    padding: 2px;
    padding-right: 6px;
}
.bd {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 4px 4px 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.subHeaderText {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #bef243;

}
#map_192f555618c74b48ba8701d94405ce7b {
    height: 640px;
    width: 1360px;
    border-radius: 0px 0px 50px 50px ;
}
.source {
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: white;
    font-size: 12px;
}
.infectedInfo {
    height: 500px;
    text-align: center;
    width: 250px;
    color: white;
    overflow: auto;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.infectedInfo em {
    font-size: 60px;
    padding: 25px;
    color: #bef243;
}
.infectedInfo span {
    font-size: 12px;
    font-family: italic;
}
/*layers*/
.justThings {
    height: 50px;
    width: 1380px;
    background-color: black;
    position: relative;
    left: 0px;
    bottom: 50px; 
}
.layer-2 img{
    position: relative;
    bottom: 350px;
    left: 350px;
}
/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bef243; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 50%;
  }
/*Numbers*/
.numbers{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    width: 1380px;
    background-color: black;
    opacity: 80%;
    position: relative;
    left: 0px;
    bottom: 100px; 
    padding-right: 160px;
    padding-top: 20px;


}
.numbers h1 {
    color: #bef243;
    font-size: 60px;
    padding: 5px 25px;
    font-style: italic;
}
.numbers p {
    color: white;
    font-size: 20px;
    font-style: italic;
}
.card-1 h1{
    position: relative;
    animation-name: card1;
    animation-duration: 1s ;
    animation-timing-function: ease-in;
}
.leaflet-container {
    z-index: 0;
	overflow: hidden;
	}
.card-2 h1 {
    position: relative;
    animation-name: card1;
    animation-duration: 1s ;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}
/*graphInfo */
.graphInfo {
    width: 100%;
    padding: 30px;
   height: 300px;
    background-color: white;
    border-top: 3px solid #bef243;
}
.graphInfoDiv .quote {
    font-size: 20px;
    padding: 30px;
    text-align: center;
    font-style: italic;
    line-height: 1.8;
    color: black;
    font-weight: bold;
    text-shadow: 0px 2px #D3D3D3;
}


/*Graphs*/ 
.graphs {
    background: url('../pictures/graphWM_2.jpg');
    background-size: cover ;
    height: 500px;
}
.graphs .lineGraph , .pieChart {
   height: 300px;
}
.graphHeader {
    padding: 20px;
    padding-left: 50px;
    color: #bef243;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonGroup div {
    height: 100px;
    width: 350px;
    background: transparent;
    font-size: 16px;
    text-align: center;
    padding: 25px;
    color: #bef243;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonGroup div:hover {
    font-size: 20px;
    cursor: pointer;
    background-color:#121212;
    border-right: 1px solid #bef243;
}
.tv {
    height: 450px;
    width: 100vw;
    text-align: center;
}
.displayGraph {
    height: 390px;
    width: 490px;
    padding: 10px;
    border-radius: 20px;
    border: 20px solid black;
    background: whitesmoke;
    position: relative;
    bottom: 130px;
    left: 320px;

}
.tvHandle{
   position: absolute;
   top: 20px;
   left: 165px;
    
}
/*quotes*/
.quotes {
    background-color: white;
    border-top: 1px solid #bef243;
}
.testimonial {
    padding-top: 50px;
    height: 500px;
    border-bottom: 1px solid gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.testimonial .quotations {
    text-align: center;
    font-size: 28px;
    padding: 30px;
    padding-top: 100px;
}
.testimonial cite {
    float: right;
    font-size: 15px;
}
.testimonialPic {
    height: 300px;
    width: 300px;
    margin: 15px;
    margin-left: 80px ;
    border: 2px solid black;
}
.designation {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/*footer*/
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.footerContent {
    text-align: center;
    font-size: 14px;
    color: #bef243;
    padding: 10px;
}
.footerSubHeader {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-left: 2px solid #bef243 ;
    margin-bottom: 10px;
    text-align: center;
}
.footer em {
    color: #bef243;
}
footer h2:hover {
    color: #bef243;
    font-size: 22px;
}


/*--------------text test ----------------*/
:root {
    /* The intrinsic width of the underline stroke (in pixels). This is 
     * the same as the height of the cap images. Don't specify the
     * units! This is because of some of the calculations we do later on. */
    --underline-intrinsic-width: 8;
    
    /* The actual width of the underline stroke we want to render (in pixels).
     * You can modify this, and the sizing and positioning should be calculated
     * accordingly. Again, Don't specify the units! */
    --underline-width: 12;
    
    /* The colour used to draw the underline. It should match the colour
     * used in the cap images... unfortunately we can't modify the SVG
     * fill via CSS because it's a background image. */
    --underline-color: #e7fcb6;
    
    /* We need to know the width of the cap images so that we
     * can position everything on the x axis accordingly. */
    --underline-cap-width: 4px;
    
    /* The border is positioned relative to the bottom of the line.
     * We can move it upwards a little to create an overlap effect. */
    --underline-offset-y: -2px;
    
    /* The padding to add to the x axis. By default, the caps would be
     * aligned with the beginning and end of the line. */
    --underline-padding-x: 0.12em;
    
    /* The cap images to use that form the left and right rounded
     * shape. I guess these could be any shape, they don't
     * necessarily have to be round 🙂.
     */
    --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
    --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
  }
    
  .heading {
    display: inline;
    --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
    padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
    box-decoration-break: clone;
    background-repeat: no-repeat;
    color: #1221ff;
    background-image:
      linear-gradient(180deg, var(--underline-color), var(--underline-color)),
      var(--cap-image-left),
      var(--cap-image-right);
    background-position-x:
      calc(var(--underline-cap-width) * var(--underline-width-scale)),
      0,
      100%;
    background-position-y: calc(100% - var(--underline-offset-y) * -1);
    background-size:
      calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px);
  }
  
  .heading--3 {
    font-size: 3rem;
    font-weight: bold;
    --underline-width: 16;
    --underline-offset-y: -2px;
    --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
    --cap-image-right: url(https://files.ash1.now.sh/right-2.svg);
  }
  