html, body, #map {
    height: 100%;
    width: 100%;
}
.navbar {
    background: #010200;
}
.navbar .navItems a:hover {
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
}
.headerPic { 
    height: 100px;
    width: 100px;
    float: left;
}

#map  {
    background: url('../pictures/cover-bg.jpg');
    background-size: 1500px 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 25px ;
    color: #bef243;
}
.coverHeader {
    color: white;
    padding: 40px 25px 25px 10px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bold;

}
.subHeaderText {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: teal;

}
.headerUnderline {
    margin: 0px auto 50px;
    background-color: teal;
    height: 2px;
    width: 320px;
    border-radius: 30px;
    position: relative;
    animation-name: headerUnderline;
    animation-duration: 2s;
    animation-timing-function: ease;

}
#map_82098b9f1aa448a0a752d0eb11561c42 {
    padding: 25px;
    height: 350px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}
.learnMoreBtn {
    color: teal;
    font-size: 18px;
    background-color: white;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 5px;
}
.measuresBtn {
    background: teal;
    color: white;
    width: 100px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px ;
}

/*Congtagious*/
.contagious {
    text-align: center;
    width: 100%;
    float: center;
    margin: 0 auto;
    padding: 20px;
}
.headerContainer {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
}
.card {
    border: 1px solid white;
    box-shadow: 2px  #E6E6E6;
    padding: 5px;
    margin: 5px ;
    height: 250px;
}
.card h2 {
    font-size: 20px;
    color: indianred;
}
.contagious p {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}
.card img {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    float: center;
}
/*Prevention*/
.prevention {
    text-align: center;
    padding: 100px 0px 0px 0px;
}
/*Contact*/
.contact {
    background: white;
    background-size: cover;
    text-align: center;
    margin: 10px 0px 0px 15px;
}
.contact .headerUnderlineContact {
    margin: 0px auto 50px;
    background-color: teal;
    height: 2px;
    width: 180px;
    border-radius: 30px;
    position: relative;
    animation-name: headerUnderline;
    animation-duration: 2s;
    animation-timing-function: ease;

}
.contact form {
    margin: 0 auto;
    padding: 25px;
    width: 350px;
}
.contact form p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
}
.contact form input{
    background: black;
}
.contact form textarea {
    background-color: black;
}

form button {
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    padding: 2px;
    margin: 16px;
    width: 150px;
    height: 40px;
    color: black;
    font-size: large;
}
form button:hover {
    background-color: black;
    color: teal;
}

/*footer*/
.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010200;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.footer em {
    color: teal;
}
/*animations*/
@keyframes infectedAnimate {
    from {opacity: 0%;}
    to {opacity: 100%;}
    
}
@keyframes headerUnderline {
    from {right: 500px;}
    to {right:  0px;}
}